.cards__item{
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-basis: 240px;
  justify-content: center;
  box-sizing: border-box;
}

.cards__item:nth-of-type(2) {
  margin: 0 100px;
}

.cards__item:last-of-type{
  margin: 0 auto 0 100px;
}
